@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Roboto:wght@100;300;400;500&display=swap");

:root {
  --primary: #072ac8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f2f4fc;
}

/* h2 { */
/* color: #292e47; */
/* font-size: 40px; */


/* ------------------------------------------------------------------------ */
/* ------------------------------ INDEX html ------------------------------ */
/* ------------------------------------------------------------------------ */

/* ------------------------------ Splash page ------------------------------ */

/* Your CSS code goes here */

/* ------ CIRCULAR ANIMATION ------ */

/* Your CSS code goes here */

/* --------- Navbar ------------------------------ */

.container-nav-bar:first-child {
  /* outline: solid 1px red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 7vw;
  margin-top: 14vh;
}

.container-nav-bar img {
  /* outline: solid 1px red; */
  margin-left: 15vw;
}

.menu ul li {
  /* outline: solid 1px red; */
  display: inline;
  list-style: none;
  font-size: 1.1vw;
  color: #6b708d;
  font-weight: 500;
  margin: 1vw;
}

.menu ul li a {
  text-decoration: none;
}

.menu ul li a:visited {
  color: #6b708d;
}

.menu ul li a:hover {
  color: #0082f3;
}

.burguer-menu {
  display: none;
  
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #292e47;;
}

.contacto a {
  /* outline: solid 1px red; */
  background-color: #072ac8;
  color: white;
  text-decoration: none;
  font-size: 1.1vw;
  padding: 1vw 2.3vw;
  margin-right: 15vw;
}

.contacto a:hover {
  background-color: #292e47;
}

/* ------------------------------ Header ------------------------------ */
.container-main {
  /* outline: solid 1px red; */
  display: flex;
  justify-content: space-between;
  height: 80vh;
}

.container-text {
  /* outline: solid 1px red; */
  width: 50%;
  display: flex;
  /* justify-content: space-evenly; */
  flex-direction: column;
  margin-left: 15vw;
}

.container-imagenes {
  /* outline: solid 1px red; */
  background-image: url(../images/hero-section/hero-image.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 50%;
  margin-right: 15vw;
  position: relative;
}

.container-text>div>p {
  font-size: 1.3vw;
  line-height: 150%;
  margin-top: 6vh;
  margin-bottom: 6vh;
  color: #6b708d;
}

.container-text h1 {
  font-size: 3.7vw;
  color: #292e47;
  margin-top: 40px;
  letter-spacing: 3px;
  line-height: 130%;
}

.botones a {
  font-size: 1.1vw;
  text-decoration: none;
  font-weight: 500;
}

.boton-work:visited {
  color: #6b708d;
}

.boton-get {
  background-color: #072ac8;
  color: white;
  text-decoration: none;
  font-size: 1.1vw;
  padding: 1.3vw 2.3vw;
  margin-left: 20px;
}

.boton-get:hover {
  background-color: #292e47;
}


.card1 {
  width: 55%;
  height: auto;
  position: absolute;
  background: transparent;
  left: -18%;
  top: 0%;
}

.card2 {
  width: 55%;
  height: auto;
  position: absolute;
  background: transparent;
  right: -20%;
  bottom: -30%;
}

/* ------------------------------ Partners ------------------------------ */

.clients {
  /* outline: solid 1px red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15vh;
  margin-bottom: 20vh;
  margin-left: 15vw;
  margin-right: 15vw;
}

.img-client {
  /* margin: 0 auto; */
  filter: grayscale(1);
  width: 120px;
  height: 120px;
}

.img-client:hover {
  filter: grayscale(0);
}

.img-client1 {
  filter: grayscale(1);
}

.img-client1:hover {
  filter: grayscale(0);
}



/* ------------------------------ Recent projects ------------------------------ */

.container-projects {
  /* outline: solid 1px red; */
  /* height: 600px; */
  margin-left: 15vw;
  /* margin-bottom: 50px; */
  margin-right: 15vw;
  display: flex;
  flex-direction: column;
}

.container-projects h2 {
  font-size: 3vw;
  color: #292e47;
}

.container-projects-2 {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  gap: 30px;
}

.container-projects-2 h3 {
  padding-left: 2.5vw;
  font-size: 24px;
  color: #292e47;
  display: flex;
  align-items: center;
  margin-top: 1.5vw;
}

.container-projects-2 p {
  /* padding: 5vw; */
  font-size: 20px;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-projects-2 a {
  padding-left: 2.5vw;
  font-size: 20px;
  text-decoration: none;
  color: #072ac8;
}

.container-projects-2 a:visited {
  color: #072ac8;
}

.project-box1,
.project-box2,
.project-box3 {
  width: 30vw;
  height: 500px;
  /* border: solid 1px red; */
  background-color: white;
  line-height: 50px;
  -webkit-box-shadow: 10px 10px 91px -50px rgba(107, 107, 107, 1);
  -moz-box-shadow: 10px 10px 91px -50px rgba(107, 107, 107, 1);
  box-shadow: 10px 10px 91px -50px rgba(107, 107, 107, 1);

  /* outline: solid 1px red; */
}

.p-box {
  width: 100%;
  height: 250px;
}

/* ------------------------------ Client reviews ------------------------------ */
.testimonial {
  position: relative;
  background-color: #292e47;
  background-image: url("../images/testimonial-section/orbit.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
  margin-top: 180px;
  margin-left: 5vw;
  margin-right: 5vw;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.testimonial h2 {
  color: #ecf7ff;
  background: transparent;
  margin-top: 80px;
}

.testimonial p {
  color: #ffc600;
  font-size: 25px;
  font-weight: 500;
  line-height: 40px;
}

.container-perfil {
  width: 230px;
  margin-bottom: 100px;
  display: flex;
}

.container-perfil img {
  width: 50px;
  height: 50px;
  border-radius: 100px;
  margin-right: 20px;
}

.container-perfil h4 {
  color: #7cc2ff;
  font-weight: 400;
  font-size: 18px;
}

.container-perfil a {
  color: white;
  font-weight: 400;
  text-decoration: none;
}

.container-perfil div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.emoji1 {
  position: absolute;
  width: 150px;
  height: 150px;
  left: 100px;
  top: 40px;
  right: auto;
  bottom: auto;
}

.emoji2 {
  position: absolute;
  width: 150px;
  height: 150px;
  right: 100px;
  top: 40px;
  /* left: auto;
  bottom: auto; */
  /* background: transparent; */
}

.emoji3 {
  position: absolute;
  width: 150px;
  height: 150px;
  left: 100px;
  bottom: 40px;
  right: auto;
  top: auto;
}

.emoji4 {
  position: absolute;
  width: 150px;
  height: 150px;
  right: 100px;
  bottom: 40px;
}

/* ------------------------------ Services ------------------------------ */
#servicios h2 {
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 15vw;
  font-size: 3vw;
  color: #292e47;
}

.container-services {
  height: 600px;
  display: flex;
  justify-content: space-evenly;
  /* flex-wrap: wrap; */
  margin-left: 15vw;
  margin-right: 15vw;
  gap: 30px;
}

.container-services img {
  position: absolute;
  width: 25%;
  top: 40px;
  left: 40px;
  background-color: #ecf7ff;
  padding: 15px;
  border-radius: 40%;
}

.container-services h4 {
  margin-top: 55%;
  margin-bottom: 10%;
  margin-left: 40px;
  display: flex;
  font-size: 24px;
  font-weight: 500;
}

.container-services p {
  font-size: 17px;
  margin-left: 40px;
  margin-right: 25px;
  margin-bottom: 10%;
}

.container-services a {
  text-decoration: none;
  margin-left: 40px;
  font-size: 17px;
  font-weight: 500;
}

.box-services-1,
.box-services-2,
.box-services-3 {
  width: 380px;
  height: 400px;
  /* border: solid 1px red; */
  background-color: white;
  position: relative;
  -webkit-box-shadow: 10px 10px 91px -50px rgba(107, 107, 107, 1);
  -moz-box-shadow: 10px 10px 91px -50px rgba(107, 107, 107, 1);
  box-shadow: 10px 10px 91px -50px rgba(107, 107, 107, 1);
}

.box-services-1 a {
  color: #072ac8
}

.box-services-2 a {
  color: #072ac8
}

.box-services-3 a {
  color: #072ac8
}

/* ------------------------------ Questions form ------------------------------ */

.questions {
  height: 500px;
  background-color: #ffc600;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 5vw;
  margin-left: 5vw;
  gap: 30px;
}

.questions input[type="email"] {
  background-image: url("../images/newsletter/icon/mail.svg");
  background-repeat: no-repeat;
  background-position: 5%;
  text-align: center;
  width: 90%;
  outline: none;
}

.questions p {
  color: #6b708d;
  font-size: 17px;
}

.questions input {
  background-color: #ecf7ff;
  height: 80px;
  width: 150px;
  /* justify-content: center; */
  border: none;
  padding-left: 20px;
  font-size: 17px;
}

.questions div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 20px;
  width: 50%;
  /* outline: solid 1px red; */
}

.questions-subscribe {
  background-color: #072ac8;
  color: white;
  text-decoration: none;
  font-size: 17px;
  padding: 30px 55px;
}

/* ------------------------------ Footer ------------------------------ */
.container-footer {
  height: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 230px;
  margin-right: 230px;
}

.container-footer img {
  width: 100px;
  height: 100px;
}

.container-footer p {
  line-height: 30px;
  font-size: 17px;
  color: #6b708d;
}

.container-footer ul {
  columns: 3;
}

.container-footer ul li {
  list-style: none;
  font-size: 17px;
  line-height: 60px;
}

.container-footer ul li a {
  text-decoration: none;
  color: #0000EE;
}

.container-links {
  margin-top: 50px;
}

/* -------------------------------------------------------------------------- */
/* ------------------------------ PROJECT html ------------------------------ */
.projects-html-page {
  height: 800px;
  background-color: #ecf7ff;
  border: solid 1px red;
}

.projects-html-page img {
  width: 700px;
  height: 800px;
  display: flex;
  justify-content: space-between;
  margin-left: 300px;
}

/* -------------------------------------------------------------------------- */

/* ------------------------------ Project main ------------------------------ */

/* Your CSS code goes here */

/* ----------------------------------------------------------------------------- */
/* ------------------------------ CONTACT-US html ------------------------------ */
label {
  color: #6b708d;
  margin-bottom: 85px;
}

input {
  background: rgba(107, 112, 141, 0.1);
}

#form {
  margin-left: 15vw;
  margin-right: 15vw;
}

#form h2 {
  font-size: 3vw;
  margin-bottom: 50px;
}

.container-form {
  text-align: left;
}

#yourEmail {
  border: none;
  background-color: rgba(107, 112, 141, 0.1);
  height: 60px;
  width: 100%;
  margin-block-start: 10px;
  padding-left: 10px;
}

#yourPhone {
  border: none;
  background-color: rgba(107, 112, 141, 0.1);
  height: 60px;
  width: 100%;
  margin-block-start: 10px;
  padding-left: 10px;
}

#yourName {
  border: none;
  background-color: rgba(107, 112, 141, 0.1);
  height: 60px;
  width: 100%;
  margin-block-start: 10px;
  padding-left: 10px;
}

.estiloForm {

  height: 200px;
}

#yourMessage {
  padding-top: 20px;
  width: 100%;
  border: none;
  background-color: rgba(197, 199, 208, 0.1);
  margin-block-start: 10px;
  padding-left: 10px;
}

.form-boton {
  width: 100%;
  height: 60px;
  border: none;
  background-color: #072ac8;
  color: white;
  font-weight: normal;
  margin-top: 60px;
  border: none;
}

.form-boton:hover {
  cursor: pointer;
  background-color: #292e47;
  text-decoration: none;
}

/* ----------------------------------------------------------------------------- */

/* ------------------------------ Form ------------------------------ */

/* ----------------------------------------------------------------------------- */
/* ------------------------------ About html ------------------------------ */
/* ----------------------------------------------------------------------------- */

/* Your CSS code goes here */

/* --------------------------------------------------------------------------- */
/* ------------------------------ MEDIA QUERIES ------------------------------ */
/* --------------------------------------------------------------------------- */

/* ------------------------- Smaller than 990px (tablet) ------------------------- */
@media (max-width: 990px) {
  /* Your CSS code goes here */
}

/* ------------------------- Smaller than 766px (mobile) ------------------------- */
@media (max-width: 766px) {

  /* NAVBAR************************ */
  .container-nav-bar:first-child {
    margin-bottom: 5vw;
    margin-top: 5vh;
    
  }

  .container-nav-bar img {
    /* outline: solid 1px red; */
    margin-left: 5vw;
  }

  .menu ul li {
    display: none;
  }

  .contacto a {
   display: none;
  }

  .contacto a:hover {
    background-color: #292e47;
  }

  /* HERO SECTION ***********************/
  .container-main {
    /* outline: solid 1px red; */
    display: flex;
    flex-direction: column;
    height: 140vw;

    /* height: 50vh; */
  }

  .container-text {
    /* outline: solid 1px red; */
    width: 90%;
    /* height: 45%; */
    display: flex;
    /* justify-content: space-evenly; */
    flex-direction: column;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 5vw;
  }

  .container-imagenes {
    /* outline: solid 1px red; */
    background-image: url(../images/hero-section/hero-image.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 90%;
    height: 100%;
    margin-right: 5vw;
    margin-left: 5vw;
    position: relative;
  }

  .container-text>div>p {
    font-size: 3vw;
    line-height: 150%;
    text-align: center;
    margin-top: 3vh;
    margin-bottom: 3vh;
    color: #6b708d;
    /* outline: solid 1px red; */
  }

  .container-text h1 {
    font-size: 8vw;
    color: #292e47;
    display: flex;
    justify-content: center;
    text-align: center;
    /* outline: solid 1px red; */
  }

  .botones {
    /* outline: solid 1px red; */
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 5vw;
  }

  .botones a {
    font-size: 4vw;
    text-decoration: none;
    font-weight: 300;
  }

  .boton-work:visited {
    color: #6b708d;
  }

  .boton-work {
    /* outline: solid 1px red; */
    display: flex;
    align-items: center;
  }

  .boton-get {
    background-color: #072ac8;
    color: white;
    text-decoration: none;
    padding: 2vw 4vw;
  }

  .boton-get:hover {
    background-color: #292e47;
  }


  .card1 {
    display: none;
  }

  .card2 {
    display: none;
  }

  /* LOGOS SECTION************************ */
  .clients {
    /* outline: solid 1px red; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 0;
    margin-bottom: 0;
    /* margin-left: 5vw;
    margin-right: 5vw; */
    gap: 5vw;
  }

  .img-client1 {
    display: none;
    z-index: -2;
  }

  .img-client {
    /* margin: 0 auto; */
    filter: grayscale(1);
    width: 150px;
    height: 150px;
  }

  .img-client:hover {
    filter: grayscale(0);
  }

  /* PROJECTS SECTION************************ */

  .container-projects {
    /* outline: solid 1px red; */
    margin-left: 5vw;
    margin-right: 5vw;
    display: flex;
    flex-direction: column;
  }

  .container-projects-2 {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    gap: 30px;

  }

  .container-projects-2 h3 {
    padding: 0;
    margin-left: 6vw;
    font-size: 24px;
    color: #292e47;
  }

  .container-projects h2 {
    font-size: 25px;
  }

  .container-projects-2 p {
    font-size: 20px;
    font-weight: 300;
    justify-content: left;
    margin-left: 6vw;

  }

  .container-projects-2 a {
    padding: 0;
    margin-left: 6vw;
    font-size: 20px;
    text-decoration: none;
    color: #072ac8;
  }

  .container-projects-2 a:visited {
    color: #072ac8;
  }

  .project-box1,
  .project-box2,
  .project-box3 {
    width: 100%;
    height: 500px;
    /* border: solid 1px red; */
    background-color: white;
    line-height: 50px;
    -webkit-box-shadow: 10px 10px 91px -50px rgba(107, 107, 107, 1);
    -moz-box-shadow: 10px 10px 91px -50px rgba(107, 107, 107, 1);
    box-shadow: 10px 10px 91px -50px rgba(107, 107, 107, 1);
    /* outline: solid 1px red; */
  }

  .p-box {
    width: 100%;
    height: 250px;
  }

  /*****testimonials *************************************************/
  .testimonial {
    position: relative;
    background-color: #292e47;
    background-image: url("../images/testimonial-section/orbit.png");
    background-size: cover;
    background-repeat: no-repeat;
    /* height: 600px; */
    margin-top: 100px;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px;
  }

  .testimonial h2 {
    color: #ecf7ff;
    background: transparent;
    margin-top: 80px;
    font-size: 40px;
  }

  .testimonial p {
    color: #ffc600;
    font-size: 30px;
    font-weight: 600;
    line-height: 40px;

    background: transparent;
  }

  .container-perfil {
    width: 230px;
    margin-bottom: 0;
    display: flex;
    background: transparent;
  }

  .container-perfil img {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    margin-right: 20px;
  }

  .container-perfil h4 {
    color: #7cc2ff;
    font-weight: 400;
    font-size: 18px;
    background: transparent;
  }

  .container-perfil a {
    color: white;
    font-weight: 400;
    text-decoration: none;
    background: transparent;
  }

  .container-perfil div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background: transparent;
  }

  .emoji1 {
    display: none;
  }

  .emoji2 {
    display: none;
  }

  .emoji3 {
    display: none;
  }

  .emoji4 {
    display: none;
  }
  /******services*******************************/
  #servicios h2 {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 0;
    display: flex;
    justify-content: center;
    font-size: 7vw;
    color: #292e47;
  }
  
  .container-services {
    /* outline: solid 1px red; */
    height: auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-left: 5vw;
    margin-right: 5vw;
    gap: 30px;
  }
  
  .container-services img {
    position: absolute;
    width: 25%;
    top: 40px;
    left: 40px;
    background-color: #ecf7ff;
    padding: 15px;
    border-radius: 40%;
  }
  
  .container-services h4 {
    margin-top: 40%;
    margin-bottom: 10%;
    margin-left: 40px;
    display: flex;
    font-size: 24px;
    font-weight: 500;
  }
  
  .container-services p {
    font-size: 17px;
    margin-left: 40px;
    margin-right: 25px;
    margin-bottom: 10%;
  }
  
  .container-services a {
    text-decoration: none;
    margin-left: 40px;
    font-size: 17px;
    font-weight: 500;
  }
  
  .box-services-1,
  .box-services-2,
  .box-services-3 {
    width: 100%;
    height: 400px;
    /* border: solid 1px red; */
    background-color: white;
    position: relative;
    -webkit-box-shadow: 10px 10px 91px -50px rgba(107, 107, 107, 1);
    -moz-box-shadow: 10px 10px 91px -50px rgba(107, 107, 107, 1);
    box-shadow: 10px 10px 91px -50px rgba(107, 107, 107, 1);
  }
  
  .box-services-1 a {
    color: #072ac8
  }
  
  .box-services-2 a {
    color: #072ac8
  }
  
  .box-services-3 a {
    color: #072ac8
  }
  /*****mewsletter*************************/
  .questions {
    height: 500px;
    width: 100%;
    background-color: #ffc600;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* padding: 40px; */
    align-items: center;
    margin-right: 0;
    margin-left: 0;
    margin-top: 50px;
    gap: 30px;
  }
  
  .questions input[type="email"] {
    background-image: url("../images/newsletter/icon/mail.svg");
    background-repeat: no-repeat;
    background-position: 5%;
    text-align: center;
    width: 100%;
    outline: none;
    /* outline: solid 1px red; */

  }
  .questions h2{
    font-size: 8vw;
    padding-left: 30px;
  }
  .questions p {
    color: #6b708d;
    font-size: 20px;
  }
  
  .questions input {
    background-color: #ecf7ff;
    height: 80px;
    /* width: 80%; */
    /* justify-content: center; */
    border: none;
    padding-left: 0;
    padding-right: 60px;
    font-size: 21px;
    /* outline: solid 1px red; */

  }
  
  .questions div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
    
    width: 80%;
    /* outline: solid 1px red; */
  }
  
  .questions-subscribe {
    background-color: #072ac8;
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    font-size: 17px;
    padding: 30px 55px;
    height: 80px;

  }

  .questions-subscribe:hover {
    background-color: #292e47;
  }

  /* --------- hamburguer  ------------------------------ */

 
  .container {
    max-width: 1050px;
    width: 100%;
    margin: auto;
  }
  
  /* .burguer-menu {
    width: 100%;  
  }
   */
  /* .menu-items > li {
    background-color: grey;
    width: 100%;
    padding: 20px 0;
  } */
  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
    
   }
  
  .burguer-menu  {
    display: flex;
  }

  .menu-items {
    display: flex;
    
  }
  
  .burguer-menu .nav-container li {
    list-style: none;
  }
  
  .burguer-menu .nav-container a {
    text-decoration: none;
    color: red;
    font-weight: 500;
    font-size: 1.2rem;
    
  /*   padding: 0.7rem; */
  }
  
  .burguer-menu .nav-container a:hover{
      font-weight: bolder;
  }
  
  .nav-container {
    display: block;
    position: relative;
    height: 60px;
  }
  
  .nav-container .checkbox {
    position: absolute;
    display: block;
    height: 32px;
    width: 32px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
  }
  
  .hamburger-lines {
    display: block;
    height: 26px;
    width: 32px;
    position: absolute;
    top: 17px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .nav-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #0e2431;
  }
  
  .nav-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }
  
  .nav-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }
  
  .nav-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }
  
   .menu-items {
    padding: 20px;
  /*   box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5); */
    background-color: grey; 
  /*   height: 100vh; */
    width: 100%;
    transform: translateY(-150%);
    display: flex;
    flex-direction: column;
  /*   margin-left: -40px; */
  /*   padding-left: 50px; */
    transition: transform 0.5s ease-in-out;
    text-align: center;
     
  }
  
  .burguer-menu .menu-items li {
    margin-bottom: 1.2rem;
    font-size: 1.5rem;
    font-weight: 500;
    
  }
  
  .nav-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateY(70px);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .logo{
    display: none;
  }

/*   
  .hamburguerMenu {
    display: block;
   }
  .hamburguerMenu.active.bar:nth-child(2){
    opacity: 0;
  }
  
  .hamburguerMenu.active.bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }
  
  .hamburguerMenu.bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }
  
  .menuList {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: #c8c8c8;
    width: 100%;
    text-align: left;
    transition: 0.3s;
   }
  
   .menuList li {
    margin: 16px 0;
   }
  
  .menuList.active {
    left: 0;
  } */
  
  /*****footer*****************/
  .container-footer {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 0;
    margin-right: 0;
  }
  
  .container-footer img {
    width: 100px;
    height: 100px;
  }
  
  .container-footer p {
    line-height: 30px;
    font-size: 17px;
    color: #6b708d;
  }
  
  .container-footer ul {
    columns: 3;
  }
  
  .container-footer ul li {
    list-style: none;
    font-size: 17px;
    line-height: 60px;
  }
  
  .container-footer ul li a {
    text-decoration: none;
    color: #0000EE;
  }
  
  .container-links {
    margin-top: 10px;
  }
  
}

/* ------------------------------ Hamburguer menu ------------------------------ */

/* Your CSS code goes here */

/* ------------------------------ Alert ------------------------------ */

/* Your CSS code goes here */

/* ------------------------------ Sticky scroll bar ------------------------------ */

/* Your CSS code goes here */