@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Roboto:wght@100;300;400;500&display=swap");

:root {
  --primary: #072ac8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f2f4fc
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

h2 {
  font-size: 40px;
  color: #292e47;
}

/* ------------------------------------------------------------------------ */
/* ------------------------------ INDEX html ------------------------------ */
/* ------------------------------------------------------------------------ */

/* ------------------------------ Splash page ------------------------------ */

/* Your CSS code goes here */

/* ------ CIRCULAR ANIMATION ------ */

/* Your CSS code goes here */

/* ------------------------------ Navbar ------------------------------ */

/* Your CSS code goes here */
.container-nav-bar {
  /* outline: solid 1px red; */
  height: 200px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.container-nav-bar:first-child {
  display: flex;
  align-items: center;
  margin-left: 200px;
}

.menu ul:first-child {
  color: #0082f3;
}

.menu ul li {
  display: inline;
  list-style: none;
  text-decoration: none;
  padding: 20px;
  font-size: 17px;
  color: #6b708d;
  font-weight: 500;
}

.menu ul li a:visited {
  color: #6b708d;
}

.menu ul li a:hover {
  color: #0082f3;
}

.contacto a {
  background-color: #072ac8;
  color: white;
  text-decoration: none;
  font-size: 17px;
  padding: 15px 20px;
  margin-right: 200px;
}

.contacto:hover {
  color: #292e47;
}



/* ------------------------------ Header ------------------------------ */
.container-main {
  /* background-color: #0082f3; */
  width: 100%;
  height: 600px;
  display:flex;
  justify-content: space-between;
}

.container-text {
  /* background-color: #6b708d; */
  width: 50%;
  height: 600px;
  margin-left: 230px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.container-text>div>p {
  font-size: 20px;
  line-height: 150%;
  margin-top: 40px;
  margin-bottom: 70px;
  color: #6b708d;
}

.container-text h1 {
  font-size: 60px;
  color: #292e47;
  margin-top: 40px;
}

.boton-get {
  background-color: #072ac8;
  color: white;
  text-decoration: none;
  font-size: 17px;
  padding: 15px 20px;
  margin-left: 20px;
}

.container-imagenes {
  background-image: url(../images/hero-section/hero-image.png);
  background-size: 95%;
  background-repeat: no-repeat;
  background-position: center;
  width: 50%;
  height: 600px;
  margin-right: 200px;
  position: relative;
}

.card1 {
  width: 300px;
  height: 300px;
  position: absolute;
  background: transparent;
  left: -80px;
  top: 0px;
}

.card2 {
  width: 300px;
  height: 300px;
  position: absolute;
  background: transparent;
  right: -120px;
  bottom: -150px;
}

/* ------------------------------ Partners ------------------------------ */

.clients {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 100px;
  margin-top: 150px;
  margin-bottom: 180px;
}

.img-client {
  margin: 0 auto;
  filter: grayscale(1);
}

.img-client:hover {
  filter: grayscale(0);
}

/* ------------------------------ Recent projects ------------------------------ */

.container-projects {
  height: 450px;
  margin-left: 230px;
  margin-bottom: 50px;
  margin-right: 230px;
  background-color: aquamarine;
  display: flex;
  flex-direction: column;
}

.container-projects-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}

.project-box1, 
.project-box2,
.project-box3 {
  width: 350px;
  height: 300px;
  border: solid 1px red;
}
/* ------------------------------ Client reviews ------------------------------ */
.testimonial {
  position: relative;
  background-color: #292e47;
  background-image: url("../images/testimonial-section/orbit.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
  margin-top: 120px;
  margin-left: 150px;
  margin-right: 150px;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.testimonial h2 {
  color: #ecf7ff;
  background: transparent;
}

.testimonial p {
  color:  #ffc600;
  font-size: 25px;
  font-weight: 500;
  line-height: 40px;
  background: transparent;
}

.container-perfil {
  width: 230px;
  margin-bottom: 100px;
  display: flex;
  background: transparent;
}

.container-perfil img {
  width: 50px;
  height:50px;
  border-radius: 100px;
  margin-right: 20px;
}

.container-perfil h4 {
  color: #7cc2ff;
  font-weight: 400;
  font-size: 18px;
  background: transparent;
}

.container-perfil a {
  color: white;
  font-weight: 400;
  text-decoration: none;
  background: transparent;
}

.container-perfil div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background: transparent;
}

.emoji1 {
  position: absolute;
  width: 150px;
  height: 150px;
  left: 100px;
  top: 40px;
  right: auto;
  bottom: auto;
  background: transparent;
}
.emoji2 {
  position: absolute;
  width: 150px;
  height: 150px;
  right: 100px;
  top: 40px;
  left: auto;
  bottom: auto;
  background: transparent;
}
.emoji3 {
  position: absolute;
  width: 150px;
  height: 150px;
  left: 100px;
  bottom: 40px;
  right: auto;
  top: auto;
  background: transparent;
}
.emoji4 {
  position: absolute;
  width: 150px;
  height: 150px;
  right: 100px;
  bottom: 40px;
  background: transparent;
}

/* ------------------------------ Services ------------------------------ */



/* ------------------------------ Questions form ------------------------------ */

.questions {
  height: 600px;
  background-color: #ffc600;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 40px;
}

/* ------------------------------ Footer ------------------------------ */

/* Your CSS code goes here */

/* -------------------------------------------------------------------------- */
/* ------------------------------ PROJECT html ------------------------------ */
/* -------------------------------------------------------------------------- */

/* ------------------------------ Project main ------------------------------ */

/* Your CSS code goes here */

/* ----------------------------------------------------------------------------- */
/* ------------------------------ CONTACT-US html ------------------------------ */
/* ----------------------------------------------------------------------------- */

/* ------------------------------ Form ------------------------------ */

/* ----------------------------------------------------------------------------- */
/* ------------------------------ About html ------------------------------ */
/* ----------------------------------------------------------------------------- */

/* Your CSS code goes here */

/* --------------------------------------------------------------------------- */
/* ------------------------------ MEDIA QUERIES ------------------------------ */
/* --------------------------------------------------------------------------- */

/* ------------------------- Smaller than 990px (tablet) ------------------------- */
@media (max-width: 990px) {
  /* Your CSS code goes here */
}

/* ------------------------- Smaller than 766px (mobile) ------------------------- */
@media (max-width: 766px) {
  /* Your CSS code goes here */
}

/* ------------------------------ Hamburguer menu ------------------------------ */

/* Your CSS code goes here */

/* ------------------------------ Alert ------------------------------ */

/* Your CSS code goes here */

/* ------------------------------ Sticky scroll bar ------------------------------ */

/* Your CSS code goes here */